---
layout: default
---

        {% for post in paginator.posts %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">
            {{ post.date | date: "%b %-d, %Y" }} |
            {% if site.comments == true and site.disqus != '' %}
            <a class="author" href="{{ site.baseurl }}{{ post.url }}#disqus_thread">Comments</a>
            {% endif %}
          </p>
          <div class="content">
            {{ post.content }}
          </div>
        </div>
        {% endfor %}

        <div class="pagination">
          <ul class="pager">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                <li><a href="{{ site.baseurl}}/index.html" class="previous">Newer</a></li>
              {% else %}
                <li><a href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a></li>
              {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <li><a href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a></li>
            {% endif %}
          </ul>
        </div>
