{% include header.html %}

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">{{ site.title }}</h1>
        <p class="lead blog-description">IT, music, movie, travel, life.. random log of my life</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{ page.title }}</h2>
            <p class="blog-post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
            <div class="post-content">
              {{ content }}
            </div>
            <br>
            {% if site.comments == true and site.disqus != '' %}
            <div id="disqus_thread">
              <noscript>Please enable JavaScript to view the   <ahref="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by   <spanclass="logo-disqus">Disqus</span></a>
            </div>
            {% endif %}
          </div>

          <div class="pagination">
            <ul class="pager">
              {% if page.next %}
              <li><a href="{{ site.baseurl }}{{ page.next.url }}">Newer</a></li>
              {% endif %}
              {% if page.previous %}
              <li><a  href="{{ site.baseurl }}{{ page.previous.url }}">Older</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% include sidebar.html %}
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

{% include disqus-comments.html %}
{% include footer.html %}
